body {
  background-color: #E6BC87;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
}

.header {
  font-family: 'Staatliches', cursive;
  font-weight: bold;
  background-color: #613C99;
  color: #F5F2F0;
  margin: -15px -15px 15px -15px;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.title{
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  font-family: 'Architects Daughter', cursive;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.img_hover{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: flex;
  max-width: 960px;
  margin-right: 15px;
  flex: 0 1 auto;
}

.left-side {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.body-img {
  display: flex;
  border: 1px solid black;
  border-radius: 4px;
  max-width: 199px;
}

.caption {
  display: flex;
  background-color: #A4D7DB;
  padding: 15px
}

.right-side {
  background-color: #A4D7DB;
  align-self: flex-end;
  padding: 15px;
}

th, td {
  padding: 15px;
}


@media screen and (max-width: 1000px) {
  .container {
    justify-content: center;
  }

  .content {
    flex: 1 0 auto;
    margin-right: 0px;
    flex-direction: row;
  }

  .left-side {
    flex-direction: row;
    justify-content: space-between;
  }

  .caption {
    align-self: center;
    justify-content: center;
  }

}
.suggestions li{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(81,9,121,0.7525385154061625) 35%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  color: white;
  width: 500px;
  padding: 10px;
  border: 5px none;
  margin-bottom: 5%;
}

td span{
  font-size: 36px;
}